* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
  background-color: rgb(13, 15, 36) ;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  
  height: 100vh;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
  padding: 10px;
}

.profile-image {
  width: 40%;
  min-width: 200px;
  height: auto;
}

.fotoLingkaran{
  border-radius: 40%;
  overflow: hidden;
}

.profile-image p{
  margin-top: 5px;
}

.profile-photo {
  width: 100%;
  height: auto;
}

.profile-details {
  flex: 1;
  font-size: 100%;
  text-align: center;
  padding: 10px;
}

.name {
  font-size: xx-large;
  padding-bottom: 10px; 
}

.details {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.detail-item {
  flex-basis: calc(50% - 10px); 
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-label {
  font-weight: bold;
}

.detail-value {
  margin-top: 10px;
}



.profile-image p{
  text-align: center;
}

.experience {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column; 
}

.experience h1 {
  text-align: center; 
  margin-bottom: 30px; 
}

.experience-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 20px; 
}

.experience-list > div {
  width: calc(50% - 10px); 
  
  padding: 10px;
}

button{
  width: 150px;
  height: 50px;
  color: rgb(13, 28, 28);
  background-color: rgb(255, 255, 255);
  border: none;
  font-size: x-large;
  font-style: italic;
}
